body{
    background: url(images/backgrnd.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.regform{
    width: 210px;
    background-color:rgba(0,0,0,.5);
    margin: 250px auto;
    color: white ;
    padding: 5px;
    padding: 1px 1px 1px 1px;
    box-sizing: border-box;
    
}
h3{
    color:  orangered;
    text-align: center;
}
.btn{
    text-align: center;
    color: blue;
}
button{
    background-color: aqua;
    color: red;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

 